@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
  padding-top: 264px;
  font-family: Helvetica, "Noto Sans TC", Verdana, "Helvetica Neue", Arial, "微軟正黑體", sans-serif;
}

input, button, a, a:focus, div {
  outline: none;
}

.float-padding {
  padding-top: 100px;
}

@media screen and (max-width: 991px) {
  body {
    padding-top: 100px;
  }
}
@media screen and (max-width: 480px) {
  body {
    padding-top: 50px;
  }
}
@media screen and (max-width: 320px) {
  body {
    width: 320px;
  }
}
::-webkit-scrollbar-track {
  border-radius: 15px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 11px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  border: 1px solid #e5e5e5;
  background-color: #e5e5e5;
}

.go-top {
  width: 30px;
  position: fixed;
  top: 550px;
  right: 270px;
  z-index: 1010;
  display: none;
}
.go-top .go-top-button {
  width: 100%;
  padding: 0;
  outline: none;
  border: none;
  background: none;
}
.go-top .go-top-button .go-top-image {
  width: 100%;
  display: none;
}
.go-top .go-top-button .web-top-image {
  width: 100%;
}

@media screen and (max-width: 1800px) {
  .go-top {
    right: 50px;
  }
}
@media screen and (max-width: 991px) {
  .go-top {
    width: 80px;
    top: auto;
    bottom: 50px;
    right: 27px;
    display: block;
  }
  .go-top .go-top-button .go-top-image {
    display: block;
  }
  .go-top .go-top-button .web-top-image {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .go-top {
    width: 60px;
    right: 20px;
    bottom: 70px;
  }
}
.service {
  position: fixed;
  bottom: 0;
  right: 25px;
  z-index: 1020;
  display: none;
}
.service .service-block {
  margin-top: 15px;
  padding: 15px 25px;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  font-size: 16px;
  background: #aaba3d;
  color: #fff;
}
.service .service-block .arrow {
  width: 16px;
  margin: 10px 0;
  float: right;
}

.shoppingCart-list {
  width: 278px;
  padding-top: 33px;
  position: fixed;
  top: 62px;
  right: 29px;
  z-index: 1020;
  display: none;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 2px rgba(51, 51, 102, 0.2);
  background: #fff;
}
.shoppingCart-list .product-block {
  max-height: 245px;
  margin-bottom: 10px;
  overflow-y: auto;
}
.shoppingCart-list .product-block .product {
  margin: 0 10px 21px 10px;
  overflow: auto;
}
.shoppingCart-list .product-block .product .product-image {
  width: 63px;
  height: 63px;
}
.shoppingCart-list .product-block .product .title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
  color: #484848;
}
.shoppingCart-list .product-block .product .price {
  font-size: 12px;
  color: #a0a0a0;
}
.shoppingCart-list .total {
  margin: 0 25px;
  padding: 18px 0;
  text-align: center;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 1px;
  border-top: 1px solid #e5e5e5;
}
.shoppingCart-list .checkout {
  padding: 17px 0;
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1.3px;
  border-radius: 0 0 5px 5px;
  background: #d9bb2c;
  color: #fff;
}

.top-head-shoppingCart .shoppingCart-list {
  top: 62px;
}

.float-header-shoppingCart .shoppingCart-list {
  top: 93px;
}

@media screen and (max-width: 991px) {
  .shoppingCart-list {
    padding-top: 15px;
    border-radius: 0;
    right: 0;
    top: 100px;
  }
  .shoppingCart-list .product-block {
    max-height: 220px;
  }
  .shoppingCart-list .product-block .product {
    margin: 0 10px 20px 10px;
  }
  .shoppingCart-list .total {
    margin: 0;
    padding: 10px 0;
  }
  .shoppingCart-list .checkout {
    padding: 10px 0;
    border-radius: 0;
  }
}
@media screen and (max-width: 480px) {
  .shoppingCart-list {
    width: 100%;
    top: 50px;
  }
}
.top-head {
  width: 100%;
  padding: 19px 60px;
  position: fixed;
  top: 0;
  z-index: 1020;
  overflow: auto;
  background: #2a2a2a;
}
.top-head .register {
  margin-left: 45px;
}
.top-head .member-function {
  float: right;
}
.top-head .member-function .member-link {
  font-weight: 100;
  letter-spacing: 1.3px;
  font-size: 13px;
  text-decoration: none;
  color: #fff;
}
.top-head .member-function .member-link .link-image {
  margin-right: 15px;
  font-size: 21px;
  color: #fff;
}
.top-head .member-function .member-link .icon-signIn {
  font-size: 17px;
  line-height: 1.4;
}
.top-head .member-function .shoppingCart-block {
  position: relative;
}
.top-head .member-function .shoppingCart-block .shoppingCart-number {
  width: auto;
  height: 19px;
  padding: 2px 5px;
  position: absolute;
  top: -10px;
  left: 15px;
  border-radius: 10px;
  text-align: center;
  font-family: Arial;
  font-weight: 300;
  font-size: 12px;
  background: #d9bb2c;
  color: #fff;
}

@media screen and (max-width: 991px) {
  .top-head {
    display: none;
  }
}
.masthead {
  width: 100%;
  padding-top: 40px;
  position: fixed;
  top: 62px;
  z-index: 1010;
  box-shadow: 0px 0px 10px 0 rgba(51, 51, 102, 0.2);
  background: #fff;
}
.masthead .toggle-button {
  display: none;
}
.masthead .main-logo {
  margin-bottom: 27px;
  text-align: center;
}
.masthead .main-logo .phone-logo-image {
  display: none;
}
.masthead .phone-menu {
  display: none;
}
.masthead .nav-justified .menu-list a {
  margin: 0 20px;
  padding: 29px 15px 24px 15px;
  font-weight: 300;
  letter-spacing: 2.9px;
  font-size: 16px;
  font-weight: 300;
  background: none;
  color: #2a2a2a;
}
.masthead .nav-justified .menu-list a:before {
  height: 0;
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #aaba3d;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.masthead .nav-justified .menu-list a:hover:before {
  height: 5px;
}
.masthead .nav-justified .menu-list a:active, .masthead .nav-justified .menu-list a:focus {
  background: none;
}
.masthead .nav-justified .menu-list .search {
  text-align: center;
  position: relative;
}
.masthead .nav-justified .menu-list .search .search-button {
  width: 16px;
  height: 16px;
  left: 45px;
  position: absolute;
  top: 6px;
  outline: none;
  background: none;
  border: none;
  background-color: #fff;
  color: #5e5e5e;
}
.masthead .nav-justified .menu-list .search .search-button .search-image {
  font-size: 16px;
}
.masthead .nav-justified .menu-list .search .search-input {
  width: 149px;
  padding: 6px 10px 6px 30px;
  text-align: center;
  border-radius: 50px;
  outline: none;
  line-height: 16px;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 2.3px;
  background: none;
  border: 1px solid #c7c7c7;
}
.masthead .nav-justified .current-menu-item a:before {
  height: 5px;
}

@media screen and (max-width: 1200px) {
  .masthead .nav-justified .menu-list a {
    margin: 0 5px;
  }
}
@media screen and (max-width: 991px) {
  .masthead {
    width: 100%;
    height: 100px;
    padding: 25px 0 22px 0;
    top: 0;
    background: #2a2a2a;
  }
  .masthead .container {
    width: 100%;
    padding: 0;
  }
  .masthead .toggle-button {
    position: absolute;
    left: 47px;
    top: 31px;
    display: block;
    font-size: 37px;
    background: none;
    border: none;
    outline: none;
    color: #fff;
  }
  .masthead .toggle-button .phone_remove {
    display: none;
  }
  .masthead .main-logo {
    margin-bottom: 0;
  }
  .masthead .main-logo .logo-image {
    display: none;
  }
  .masthead .main-logo .phone-logo-image {
    width: 191px;
    margin: auto;
    display: block;
  }
  .masthead .phone-menu {
    display: block;
  }
  .masthead .phone-shoppingCart {
    position: absolute;
    right: 55px;
    top: 32px;
  }
  .masthead .phone-shoppingCart .phone-shoppingCart-link {
    text-decoration: none;
  }
  .masthead .phone-shoppingCart .shoppingCart-block {
    position: relative;
  }
  .masthead .phone-shoppingCart .shoppingCart-block .shoppingCart-number {
    width: auto;
    height: 25px;
    padding: 0 7px;
    position: absolute;
    top: -15px;
    left: 30px;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
    background: #d9bb2c;
    color: #fff;
  }
  .masthead .phone-shoppingCart .shoppingCart-block .link-image {
    font-size: 37px;
    color: #fff;
  }
  .masthead nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 100px;
    z-index: 1020;
    display: none;
    background: rgba(170, 186, 61, 0.9);
  }
  .masthead .nav-justified {
    position: absolute;
    top: calc(50% - 370px);
  }
  .masthead .nav-justified .menu-list {
    width: 100%;
    display: block;
    text-align: center;
  }
  .masthead .nav-justified .menu-list a {
    margin: 0;
    padding: 20px 0;
    font-size: 20px;
    color: #fff;
  }
  .masthead .nav-justified .menu-list a:hover:before {
    height: 0;
  }
  .masthead .nav-justified .menu-list .search {
    width: 215px;
    margin: 0 auto;
    padding-top: 30px;
    overflow: auto;
    font-size: 20px;
    -moz-placeholder-color: #fff;
  }
  .masthead .nav-justified .menu-list .search .search-button {
    width: 20px;
    height: 20px;
    left: 0;
    top: 50px;
    background: none;
    color: #fff;
  }
  .masthead .nav-justified .menu-list .search .search-button .search-image {
    font-size: 20px;
  }
  .masthead .nav-justified .menu-list .search .search-input {
    margin-left: 20px;
    padding: 10px 25px;
    font-size: 18px;
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #fff;
    color: #fff;
  }
  .masthead .nav-justified .menu-list .search ::-webkit-input-placeholder {
    color: #fff;
  }
  .masthead .nav-justified .menu-list .search ::-moz-placeholder {
    color: #fff;
  }
  .masthead .nav-justified .menu-list .search input:-ms-input-placeholder {
    color: #fff;
  }
  .masthead .nav-justified .current-menu-item a:before {
    height: 0;
  }
}
@media screen and (max-width: 480px) {
  .masthead {
    height: 50px;
    padding: 10px 0;
  }
  .masthead .container {
    width: 100%;
    padding: 0;
  }
  .masthead .toggle-button {
    left: 20px;
    top: 12px;
    font-size: 20px;
  }
  .masthead .main-logo {
    padding-top: 0;
  }
  .masthead .main-logo .phone-logo-image {
    width: 100px;
  }
  .masthead .phone-shoppingCart {
    right: 30px;
    top: 15px;
  }
  .masthead .phone-shoppingCart .shoppingCart-block .shoppingCart-number {
    height: 20px;
    padding: 0 5px;
    top: -8px;
    left: 12px;
    font-size: 14px;
  }
  .masthead .phone-shoppingCart .shoppingCart-block .link-image {
    font-size: 20px;
  }
  .masthead nav {
    top: 50px;
  }
  .masthead .nav-justified {
    top: calc(50% - 223px);
  }
  .masthead .nav-justified .menu-list a {
    padding: 10px 0;
    font-size: 16px;
  }
  .masthead .nav-justified .menu-list .search {
    padding-top: 10px;
    overflow: visible;
  }
  .masthead .nav-justified .menu-list .search .search-input {
    font-size: 16px;
  }
  .masthead .nav-justified .menu-list .search .search-button {
    top: 30px;
  }
}
.float-header {
  width: 100%;
  height: 93px;
  padding-top: 22px;
  position: fixed;
  top: 0;
  z-index: 1020;
  display: none;
  box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
}
.float-header .main-logo {
  text-align: center;
}
.float-header .main-logo .logo-image {
  padding-top: 0;
  width: 181px;
}
.float-header .phone-menu {
  display: none;
}
.float-header .nav-justified .menu-list a {
  margin: 0 20px;
  padding-top: 10px;
  padding-bottom: 36px;
  font-weight: 100;
  letter-spacing: 2.9px;
  font-size: 16px;
  color: #2a2a2a;
}
.float-header .nav-justified .menu-list a:before {
  height: 0;
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: -3px;
  background: #aaba3d;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.float-header .nav-justified .menu-list a:hover:before {
  height: 5px;
}
.float-header .nav-justified .menu-list a:hover, .float-header .nav-justified .menu-list a:active, .float-header .nav-justified .menu-list a:focus {
  background: none;
}
.float-header .nav-justified .menu-list .search {
  text-align: center;
  position: relative;
}
.float-header .nav-justified .menu-list .search .search-button {
  width: 16px;
  height: 16px;
  left: 45px;
  position: absolute;
  top: 6px;
  outline: none;
  background: none;
  border: none;
  background-color: #fff;
  color: #5e5e5e;
}
.float-header .nav-justified .menu-list .search .search-button .search-image {
  font-size: 16px;
}
.float-header .nav-justified .menu-list .search .search-input {
  width: 149px;
  padding: 6px 10px 6px 30px;
  text-align: center;
  border-radius: 50px;
  outline: none;
  line-height: 16px;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 2.3px;
  background: none;
  border: 1px solid #c7c7c7;
}
.float-header .nav-justified .current-menu-item a:before {
  height: 5px;
}
.float-header .float-header-member .register {
  margin-left: 25px;
}
.float-header .float-header-member .member-function {
  padding-top: 10px;
  float: left;
}
.float-header .float-header-member .member-function .member-link {
  font-weight: 100;
  letter-spacing: 1.3px;
  font-size: 13px;
  text-decoration: none;
  color: #2a2a2a;
}
.float-header .float-header-member .member-function .member-link .link-image {
  margin-right: 15px;
  font-size: 21px;
  color: #5e5e5e;
}
.float-header .float-header-member .member-function .member-link .icon-signIn {
  font-size: 17px;
  line-height: 1.4;
}
.float-header .float-header-member .member-function .shoppingCart-block {
  position: relative;
}
.float-header .float-header-member .member-function .shoppingCart-block .shoppingCart-number {
  width: auto;
  height: 19px;
  padding: 2px 5px;
  position: absolute;
  top: -10px;
  left: 15px;
  border-radius: 10px;
  text-align: center;
  font-family: Arial;
  font-weight: 300;
  font-size: 12px;
  background: #d9bb2c;
  color: #fff;
}

@media screen and (max-width: 1700px) {
  .float-header .nav-justified .menu-list a {
    margin: 0 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 1510px) {
  .float-header .nav-justified .menu-list a {
    margin: 0 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .float-header .float-header-member {
    padding: 0;
  }
}
@media screen and (max-width: 1350px) {
  .float-header .nav-block {
    padding: 0;
  }
  .float-header .nav-justified .menu-list a {
    padding-bottom: 39px;
    font-size: 14px;
  }
  .float-header .nav-justified .menu-list .search .search-button {
    left: 40px;
  }
  .float-header .nav-justified .menu-list .search .search-input {
    width: 130px;
  }
  .float-header .float-header-member {
    padding: 0;
  }
  .float-header .float-header-member .register {
    margin-left: 10px;
  }
  .float-header .float-header-member .member-function .member-link {
    font-size: 12px;
  }
  .float-header .float-header-member .member-function .member-link .link-image {
    margin-right: 10px;
  }
}
@media screen and (max-width: 1100px) {
  .float-header .main-logo .logo-image {
    padding-top: 0;
    width: 150px;
  }
  .float-header .nav-justified .menu-list a {
    padding-left: 0;
    padding-right: 0;
  }
  .float-header .float-header-member .register {
    margin-left: 5px;
  }
  .float-header .float-header-member .member-function .member-link .link-image {
    margin-right: 2px;
  }
}
@media screen and (max-width: 991px) {
  .float-header {
    display: none;
  }
}
.footer {
  width: 100%;
  padding: 85px 0;
  background: #2a2a2a;
}
.footer .footer-menu {
  overflow: auto;
}
.footer .footer-menu .footer-menu-ul {
  padding-left: 0;
}
.footer .footer-menu .footer-menu-ul .footer-list {
  display: table-cell;
  border-left: 2px solid #d7d7d7;
}
.footer .footer-menu .footer-menu-ul .footer-list a {
  padding: 0 25px;
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 15px;
  opacity: 1;
  text-decoration: none;
  color: #fff;
}
.footer .footer-menu .footer-menu-ul .footer-list a:hover {
  opacity: 0.7;
}
.footer .footer-menu .footer-menu-ul .first-list {
  border-left: none;
}
.footer .footer-menu .footer-menu-ul .first-list a {
  padding: 0 25px 0 0;
}
.footer .row {
  margin: 0;
  padding-top: 50px;
}
.footer .row .footer-logo {
  padding: 0;
}
.footer .row .footer-information {
  padding-left: 25px;
  color: #fff;
}
.footer .row .footer-information .title {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 3.2px;
}
.footer .row .footer-information .content {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
}
.footer .row .footer-information .content span {
  padding: 0 29px;
  border-left: 1px solid #fff;
}
.footer .row .footer-information .content .first-span {
  padding: 0 29px 0 0;
  border-left: none;
}
.footer .row .subscription {
  text-align: center;
}
.footer .row .subscription .subscription-link {
  width: 145px;
  height: 35px;
  margin: 0 auto;
  padding: 8px 0;
  display: block;
  border-radius: 17.5px;
  text-decoration: none;
  font-weight: 100;
  letter-spacing: 2.3px;
  font-size: 13px;
  border: 1px solid #aaba3d;
  color: #aaba3d;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.footer .row .subscription .subscription-link:hover {
  background: #aaba3d;
  color: #2a2a2a;
}
.footer .row .subscription .subscription-link:focus {
  outline: none;
}
.footer .row .subscription .footer-share {
  width: 145px;
  margin: auto;
  padding-top: 20px;
  padding-left: 0;
}
.footer .row .subscription .footer-share .share-list {
  padding-left: 10px;
  display: table-cell;
}
.footer .row .subscription .footer-share .share-list .share-link {
  text-decoration: none;
}
.footer .row .subscription .footer-share .share-list .share-link .link-image {
  font-size: 28px;
  opacity: 0.7;
  color: #fff;
}
.footer .row .subscription .footer-share .share-list .share-link:hover .link-image {
  opacity: 1;
}
.footer .row .subscription .footer-share .first {
  padding-left: 0;
}

@media screen and (max-width: 1200px) {
  .footer .footer-menu .footer-menu-ul .footer-list a {
    padding: 0 14px;
  }
  .footer .footer-menu .footer-menu-ul .first-list a {
    padding: 0 14px 0 0;
  }
  .footer .row .footer-logo .footer-logo-image {
    width: 100%;
  }
  .footer .row .footer-information {
    padding-left: 15px;
  }
  .footer .row .footer-information .content {
    letter-spacing: 1px;
  }
  .footer .row .footer-information .content span {
    padding: 0 3px;
  }
  .footer .row .footer-information .content .first-span {
    padding: 0 3px 0 0;
  }
  .footer .row .footer-information .phone-number span {
    padding: 0 16px;
  }
  .footer .row .footer-information .phone-number .first-span {
    padding: 0 16px 0 0;
  }
  .footer .row .subscription {
    padding: 0;
  }
}
@media screen and (max-width: 991px) {
  .footer {
    padding: 80px 0 50px 0;
  }
  .footer .container {
    width: 100%;
  }
  .footer .footer-menu .footer-menu-ul .footer-list {
    width: 1%;
    text-align: center;
  }
  .footer .footer-menu .footer-menu-ul .footer-list a {
    padding: 0;
    display: block;
  }
  .footer .row {
    padding-top: 20px;
  }
  .footer .row .footer-logo {
    margin-bottom: 30px;
    text-align: center;
  }
  .footer .row .footer-logo .footer-logo-image {
    width: 187px;
  }
  .footer .row .footer-information {
    padding: 0;
    text-align: center;
  }
  .footer .row .subscription {
    width: 160px;
    margin: 30px auto 0 auto;
  }
}
@media screen and (max-width: 700px) {
  .footer .container {
    padding: 0;
  }
  .footer .footer-menu .footer-menu-ul {
    width: 100%;
    padding: 0;
    overflow: auto;
  }
  .footer .footer-menu .footer-menu-ul .footer-list {
    width: 25%;
    margin-bottom: 30px;
    float: left;
    display: block;
    border: none;
  }
  .footer .row {
    padding-top: 10px;
  }
  .footer .row .footer-information .content span {
    margin-bottom: 10px;
    padding: 0;
    display: block;
    border-left: none;
  }
}
.modal-content {
  border: none;
}

.footer-subscribe .subscribe-block {
  width: 768px;
  padding: 56px 0;
  position: absolute;
  margin-top: 45%;
  left: calc(50% - 384px);
  text-align: center;
  border-radius: 5px;
  background: #aaba3d;
  color: #fff;
}
.footer-subscribe .subscribe-block .title {
  margin-bottom: 28px;
  letter-spacing: 2.9px;
  font-weight: 300;
  font-size: 24px;
}
.footer-subscribe .subscribe-block .title .en {
  margin-left: 5px;
  letter-spacing: 1.2px;
  font-size: 24px;
}
.footer-subscribe .subscribe-block .title .symbol {
  margin: -10px 10px 0 10px;
}
.footer-subscribe .subscribe-block .sub-title {
  margin-bottom: 29px;
  letter-spacing: 1.7px;
  font-size: 14px;
}
.footer-subscribe .subscribe-block .mail-block {
  width: 380px;
  margin: 0 auto;
  position: relative;
}
.footer-subscribe .subscribe-block .mail-block .es_lablebox, .footer-subscribe .subscribe-block .mail-block .es_msg {
  display: none;
}
.footer-subscribe .subscribe-block .mail-block .es_textbox_class {
  width: 380px;
  padding: 10px 55px 10px 25px;
  border: none;
  border-radius: 50px;
  outline: none;
  color: #333;
}
.footer-subscribe .subscribe-block .mail-block .es_button {
  width: 26px;
  height: 20px;
  padding-top: 0;
  padding-bottom: 0;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 5;
  opacity: 0;
}
.footer-subscribe .subscribe-block .mail-block .es_button .es_textbox_button {
  width: 26px;
  height: 20px;
}
.footer-subscribe .subscribe-block .mail-block .mail-image {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1;
  font-size: 20px;
  color: #aaba3d;
}
.footer-subscribe .subscribe-block .mail-block .mail-image:hover {
  opacity: 0.5;
}

@media screen and (max-width: 991px) {
  .footer-subscribe .subscribe-block {
    width: 100%;
    left: 0;
  }
}
@media screen and (max-width: 480px) {
  .footer-subscribe .subscribe-block .title {
    font-size: 20px;
  }
  .footer-subscribe .subscribe-block .sub-title {
    padding: 0 30px;
    line-height: 25px;
  }
  .footer-subscribe .subscribe-block .mail-block {
    width: 250px;
  }
  .footer-subscribe .subscribe-block .mail-block .es_textbox_class {
    width: 250px;
  }
}

/*# sourceMappingURL=frame.css.map */
